<?xml version="1.0"?>
<!-- launch simulation-based demonstration of MPPI controller -->
<launch>
  <arg name="namespace" default="jackal" />
  <arg name="world" default="empty" doc="Gazebo world to spawn."/>

  <!-- bag record arguments -->
  <arg name="bag" default="false" doc="Bag data from this run for analysis." />
  <arg if="$(arg bag)"
       name="bag_target" default="$(find mppi_demo)/data/demo_bag" doc="Location to store bagged data." />

  <!-- include MPPI controller launch -->
  <include file="$(find mppi_controller)/launch/mppi_controller.launch" >
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <!-- include ignition simulation -->
  <include file="$(find jackal_ignition)/launch/jackal.launch" >
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- include rviz -->
  <node name="rviz" type="rviz" pkg="rviz" output="screen"
        required="true" args="-d $(find mppi_demo)/config/$(arg namespace).rviz"/>

  <!-- bag, if requested -->
  <node if="$(arg bag)" name="rosbag_record" type="record" pkg="rosbag" args="-O $(arg bag_target)
    /tf /tf_static /clock /jackal/cmd_vel /jackal/odom /jackal/follow_course/* /jackal/waypoint/*
    /jackal/mppi_controller/parameter_descriptions /jackal/mppi_controller/parameter_updates" />

</launch>
