<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="jackal" />
  <arg name="world" default="empty" doc="Gazebo world to spawn."/>

  <!-- tell ignition where to find stuff -->
  <env name="IGN_GAZEBO_SYSTEM_PLUGIN_PATH" value="$(optenv LD_LIBRARY_PATH)" />
  <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(optenv IGN_GAZEBO_RESOURCE_PATH):$(find jackal_description)/.." />

  <!-- Spawn world -->
  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(arg world).sdf"/>
  </include>

  <!-- generate Jackal's URDF as a robot_description -->
  <param name="$(arg namespace)/robot_description" command="$(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro" />

  <!-- load Jackal Gazebo model -->
  <node pkg="ros_ign_gazebo" type="create" name="$(anon jackal_create)" output="screen"
        args="-world $(arg world) -param $(arg namespace)/robot_description -name spawned -allow-renaming true -z 1">
  </node>

  <!-- map Ignition topics to ROS topics -->
  <node pkg="ros_ign_bridge" type="parameter_bridge" name="$(anon ros_ign_bridge)" output="screen"
        args="/model/vehicle_blue/cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/vehicle_blue/odometry@nav_msgs/Odometry@ignition.msgs.Odometry /model/vehicle_green/cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/vehicle_green/odometry@nav_msgs/Odometry@ignition.msgs.Odometry">
  </node>

</launch>
